In [282]:
import numpy as np
import pandas as pd
import seaborn as sns
df = pd.read_csv("Datasets/Kitap1.csv")

In [284]:
df.head()

,player_id,player_name,season_date,team_name,played_match,team_played_match,minutes_played,goals,xG,assists,...,aerials_won,defansive_actions,touches,dribbles_attempted,successful_dribble_attempts,chances_created,all_passes,successful_passes,key_pass,offsides
0,1,Mauro Icardi,2023/2024,Galatasaray,34,38,2856,25,21.23,8,...,101,31,758,15,3,10,444,333,44,19
1,2,Edin Dzeko,2023/2024,Fenerbahce,36,38,2736,21,21.64,3,...,118,54,1158,45,18,10,711,498,30,18
2,3,Rey Manaj,2023/2024,EMS Yapi Sivasspor,32,38,2432,18,14.34,3,...,51,38,861,38,23,0,251,143,0,0

In [320]:
df["minutes_per_goal"] = round(df.minutes_played / df.goals, 2)
df.loc[:,["player_name","played_match","goals","xG","minutes_per_goal"]]

    player_name  played_match  goals     xG  minutes_per_goal
0  Mauro Icardi            34     25  21.23            114.24
1    Edin Dzeko            36     21  21.64            130.29
2     Rey Manaj            32     18  14.34            135.11

In [354]:
#At what rate does he make successful passes?
df["accurate_pass_rate"] = round(df.successful_passes / df.all_passes * 100, 2)

#When he touches the ball, what is his pass completion rate?
df["touches_after_complt_pass"] = round(df.all_passes / df.touches * 100,2)

df.loc[:,["player_name","touches","all_passes","successful_passes","accurate_pass_rate","touches_after_complt_pass"]]

,player_name,touches,all_passes,successful_passes,accurate_pass_rate,touches_after_complt_pass
0,Mauro Icardi,758,444,333,75.00,58.58
1,Edin Dzeko,1158,711,498,70.04,61.40
2,Rey Manaj,861,251,143,56.97,29.15

In [356]:
#We have seen that while Rey Manaj is a classic number 9, Edin Dzeko and Mauro Icardi can also play as target men.

In [289]:
df.dtypes

player_id                        int64
player_name                     object
season_date                     object
team_name                       object
played_match                     int64
team_played_match                int64
minutes_played                   int64
goals                            int64
xG                             float64
assists                          int64
xA                             float64
shots                            int64
aerials_won                      int64
defansive_actions                int64
touches                          int64
dribbles_attempted               int64
successful_dribble_attempts      int64
chances_created                  int64
all_passes                       int64
successful_passes                int64
key_pass                         int64
offsides                         int64
goals_per_match                float64
dtype: object

In [291]:
df.player_name = pd.Categorical(df.player_name)
df.season_date = pd.Categorical(df.season_date)
df.team_name = pd.Categorical(df.team_name)

In [293]:
df.dtypes

player_id                         int64
player_name                    category
season_date                    category
team_name                      category
played_match                      int64
team_played_match                 int64
minutes_played                    int64
goals                             int64
xG                              float64
assists                           int64
xA                              float64
shots                             int64
aerials_won                       int64
defansive_actions                 int64
touches                           int64
dribbles_attempted                int64
successful_dribble_attempts       int64
chances_created                   int64
all_passes                        int64
successful_passes                 int64
key_pass                          int64
offsides                          int64
goals_per_match                 float64
dtype: object

In [359]:
#We categorized the objects