In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("ucl_2122_datasets/goalkeeping.csv")

In [75]:
#cleansheets gol yenmeyen mac
#conceded gol yeme
#punches made yumrukla kurtarma

In [77]:
df.head()

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches_made,match_played
0,1,Courtois,Real Madrid,Goalkeeper,61,14,1,5,4,13
1,2,Rulli,Villarreal,Goalkeeper,41,16,0,3,12,12
2,3,Vlachodimos,Benfica,Goalkeeper,38,17,1,5,5,10
3,4,Athanasiadis,Sheriff,Goalkeeper,29,8,0,1,2,5
4,5,Mignolet,Club Brugge,Goalkeeper,28,20,0,0,1,6

In [79]:
df["saved_per_match"] = round(df.saved / df.match_played, 2)
df.loc[:,["player_name","saved","match_played", "saved_per_match"]].head()

    player_name  saved  match_played  saved_per_match
0      Courtois     61            13             4.69
1         Rulli     41            12             3.42
2   Vlachodimos     38            10             3.80
3  Athanasiadis     29             5             5.80
4      Mignolet     28             6             4.67

In [81]:
df["conceded_per_match"] = round(df.conceded / df.match_played,2)
df.loc[:,["player_name","conceded","match_played", "conceded_per_match"]].head()

    player_name  conceded  match_played  conceded_per_match
0      Courtois        14            13                1.08
1         Rulli        16            12                1.33
2   Vlachodimos        17            10                1.70
3  Athanasiadis         8             5                1.60
4      Mignolet        20             6                3.33

In [83]:
df["punches_save_ratio(%)"] = round(df.punches_made/ df.saved * 100,2)
df.loc[:,["player_name","saved","punches_made", "punches_save_ratio(%)"]].head()

    player_name  saved  punches_made  punches_save_ratio(%)
0      Courtois     61             4                   6.56
1         Rulli     41            12                  29.27
2   Vlachodimos     38             5                  13.16
3  Athanasiadis     29             2                   6.90
4      Mignolet     28             1                   3.57

In [85]:
df1 = df[df["saved"] > 20]
df1.sort_values(by=['punches_save_ratio(%)'], ascending=False)

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches_made,match_played,saved_per_match,conceded_per_match,punches_save_ratio(%)
1,2,Rulli,Villarreal,Goalkeeper,41,16,0,3,12,12,3.42,1.33,29.27
2,3,Vlachodimos,Benfica,Goalkeeper,38,17,1,5,5,10,3.80,1.70,13.16
5,6,Oblak,Atlético,Goalkeeper,26,10,0,3,2,10,2.60,1.00,7.69
3,4,Athanasiadis,Sheriff,Goalkeeper,29,8,0,1,2,5,5.80,1.60,6.90
0,1,Courtois,Real Madrid,Goalkeeper,61,14,1,5,4,13,4.69,1.08,6.56
6,7,Musso,Atalanta,Goalkeeper,21,13,0,1,1,6,3.50,2.17,4.76
4,5,Mignolet,Club Brugge,Goalkeeper,28,20,0,0,1,6,4.67,3.33,3.57