In [263]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df_goalkeeper = pd.read_csv("ucl_2122_datasets/goalkeeping.csv")
df_disciplin = pd.read_csv("ucl_2122_datasets/disciplinary.csv")
df_distributon = pd.read_csv("ucl_2122_datasets/distributon.csv")
df_keystats = pd.read_csv("ucl_2122_datasets/key_stats.csv") 
df_attacking = pd.read_csv("ucl_2122_datasets/attacking.csv")

In [231]:
#cleansheets = gol yenmeyen mac
#conceded = gol yeme
#punches made = yumrukla kurtarma

In [233]:
df_goalkeeper.head()

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches_made,match_played,saved_per_match,conceded_per_match,punches_save_ratio(%)
0,1,Courtois,Real Madrid,Goalkeeper,61,14,1,5,4,13,4.69,1.08,6.56
1,2,Rulli,Villarreal,Goalkeeper,41,16,0,3,12,12,3.42,1.33,29.27
2,3,Vlachodimos,Benfica,Goalkeeper,38,17,1,5,5,10,3.80,1.70,13.16
3,4,Athanasiadis,Sheriff,Goalkeeper,29,8,0,1,2,5,5.80,1.60,6.90
4,5,Mignolet,Club Brugge,Goalkeeper,28,20,0,0,1,6,4.67,3.33,3.57

In [235]:
df_goalkeeper["saved_per_match"] = round(df_goalkeeper.saved / df_goalkeeper.match_played, 2)
df_goalkeeper.loc[:,["player_name","saved","match_played", "saved_per_match"]].head()

    player_name  saved  match_played  saved_per_match
0      Courtois     61            13             4.69
1         Rulli     41            12             3.42
2   Vlachodimos     38            10             3.80
3  Athanasiadis     29             5             5.80
4      Mignolet     28             6             4.67

In [237]:
df_goalkeeper["conceded_per_match"] = round(df_goalkeeper.conceded / df_goalkeeper.match_played,2)
df_goalkeeper.loc[:,["player_name","conceded","match_played", "conceded_per_match"]].head()

    player_name  conceded  match_played  conceded_per_match
0      Courtois        14            13                1.08
1         Rulli        16            12                1.33
2   Vlachodimos        17            10                1.70
3  Athanasiadis         8             5                1.60
4      Mignolet        20             6                3.33

In [239]:
df_goalkeeper["punches_save_ratio(%)"] = round(df_goalkeeper.punches_made/ df_goalkeeper.saved * 100,2)
df_goalkeeper.loc[:,["player_name","saved","punches_made", "punches_save_ratio(%)"]].head()

    player_name  saved  punches_made  punches_save_ratio(%)
0      Courtois     61             4                   6.56
1         Rulli     41            12                  29.27
2   Vlachodimos     38             5                  13.16
3  Athanasiadis     29             2                   6.90
4      Mignolet     28             1                   3.57

In [241]:
df1 = df_goalkeeper[df_goalkeeper["saved"] > 20]
df1.sort_values(by=['punches_save_ratio(%)'], ascending=False)

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches_made,match_played,saved_per_match,conceded_per_match,punches_save_ratio(%)
1,2,Rulli,Villarreal,Goalkeeper,41,16,0,3,12,12,3.42,1.33,29.27
2,3,Vlachodimos,Benfica,Goalkeeper,38,17,1,5,5,10,3.80,1.70,13.16
5,6,Oblak,Atlético,Goalkeeper,26,10,0,3,2,10,2.60,1.00,7.69
3,4,Athanasiadis,Sheriff,Goalkeeper,29,8,0,1,2,5,5.80,1.60,6.90
0,1,Courtois,Real Madrid,Goalkeeper,61,14,1,5,4,13,4.69,1.08,6.56
6,7,Musso,Atalanta,Goalkeeper,21,13,0,1,1,6,3.50,2.17,4.76
4,5,Mignolet,Club Brugge,Goalkeeper,28,20,0,0,1,6,4.67,3.33,3.57

In [243]:
df_goalkeeperGK = df_goalkeeper[df_goalkeeper["position"] == "Goalkeeper"]
df_goalkeeperGK.head()

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches_made,match_played,saved_per_match,conceded_per_match,punches_save_ratio(%)
0,1,Courtois,Real Madrid,Goalkeeper,61,14,1,5,4,13,4.69,1.08,6.56
1,2,Rulli,Villarreal,Goalkeeper,41,16,0,3,12,12,3.42,1.33,29.27
2,3,Vlachodimos,Benfica,Goalkeeper,38,17,1,5,5,10,3.80,1.70,13.16
3,4,Athanasiadis,Sheriff,Goalkeeper,29,8,0,1,2,5,5.80,1.60,6.90
4,5,Mignolet,Club Brugge,Goalkeeper,28,20,0,0,1,6,4.67,3.33,3.57

In [245]:
df_disciplinGK = df_disciplin[df_disciplin["position"] == "Goalkeeper"]
df_disciplinGK.head()

,serial,player_name,club,position,fouls_committed,fouls_suffered,red,yellow,minutes_played,match_played
557,491,Dahlin,Malmö,Goalkeeper,1,0,1,0,315,4
566,491,Bounou,Sevilla,Goalkeeper,1,0,0,0,540,6

In [247]:

df_distributonGK = df_distributon[df_distributon["position"] == "Goalkeeper"]
df_distributonGK.head()

,serial,player_name,club,position,pass_accuracy,pass_attempted,pass_completed,cross_accuracy,cross_attempted,cross_complted,freekicks_taken,match_played
2,3,Ulreich,Bayern,Goalkeeper,97.0,32,31,0,0,0,1,1
51,48,Steffen,Man. City,Goalkeeper,92.0,25,23,0,0,0,3,1
57,57,Handanovič,Inter,Goalkeeper,91.6,253,230,0,0,0,7,8
64,64,Pyatov,Shakhtar Donetsk,Goalkeeper,91.3,83,75,0,0,0,3,3
69,70,Neuer,Bayern,Goalkeeper,90.9,352,318,0,0,0,8,9

In [249]:
df_keystatsGK = df_keystats[df_keystats["position"] == "Goalkeeper"]
df_keystatsGK.head()

,player_name,club,position,minutes_played,match_played,goals,assists,distance_covered
0,Courtois,Real Madrid,Goalkeeper,1230,13,0,0,64.2
25,Alisson Becker,Liverpool,Goalkeeper,1170,13,0,0,68.8
54,Rulli,Villarreal,Goalkeeper,1080,12,0,0,61.2
58,Ederson,Man. City,Goalkeeper,1003,11,0,0,51.6
62,Vlachodimos,Benfica,Goalkeeper,900,10,0,0,55.4

In [251]:
df_attackingGK = df_attacking[df_attacking["position"] == "Goalkeeper"]
df_attackingGK.head()

,serial,player_name,club,position,assists,corner_taken,offsides,dribbles,match_played
159,64,Neuer,Bayern,Goalkeeper,1,0,0,1,9

In [261]:
#ordered merge tables

a = df_goalkeeper.loc[:]
b = df_disciplinGK.loc[:,["player_name","fouls_committed","red"]]
c = df_distributonGK.loc[:,["player_name","pass_accuracy","pass_attempted","pass_completed","cross_attempted","freekicks_taken"]]
d = df_keystatsGK.loc[:,["player_name","minutes_played","assists","distance_covered"]]
e = df_attackingGK.loc[:,["player_name","dribbles"]]

In [255]:
x = pd.merge_ordered(a,b, on = "player_name")
y = pd.merge_ordered(c,d, on = "player_name")
xy = pd.merge_ordered(x,y, on = "player_name")
newdf = pd.merge_ordered(xy,e, on = "player_name")

In [259]:
newdf = newdf.fillna(0)
newdf.head()

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches_made,match_played,...,red,pass_accuracy,pass_attempted,pass_completed,cross_attempted,freekicks_taken,minutes_played,assists,distance_covered,dribbles
0,15.0,Adán,Sporting CP,Goalkeeper,17.0,13.0,0.0,2.0,8.0,7.0,...,0.0,70.2,233.0,166.0,0.0,34.0,630,0,36.3,0.0
1,18.0,Alisson Becker,Liverpool,Goalkeeper,15.0,14.0,0.0,4.0,3.0,13.0,...,0.0,89.7,461.0,415.0,0.0,16.0,1170,0,68.8,0.0
2,4.0,Athanasiadis,Sheriff,Goalkeeper,29.0,8.0,0.0,1.0,2.0,5.0,...,0.0,69.2,154.0,106.0,0.0,10.0,450,0,22.7,0.0
3,19.0,Bounou,Sevilla,Goalkeeper,14.0,5.0,0.0,2.0,1.0,6.0,...,0.0,82.2,185.0,152.0,1.0,12.0,540,0,37.2,0.0
4,41.0,Boyko,Dynamo Kyiv,Goalkeeper,4.0,0.0,0.0,1.0,2.0,1.0,...,0.0,74.0,31.0,23.0,0.0,2.0,90,0,4.5,0.0

In [271]:
newdf.columns

Index(['serial', 'player_name', 'club', 'position', 'saved', 'conceded',
       'saved_penalties', 'cleansheets', 'punches_made', 'match_played',
       'saved_per_match', 'conceded_per_match', 'punches_save_ratio(%)',
       'fouls_committed', 'red', 'pass_accuracy', 'pass_attempted',
       'pass_completed', 'cross_attempted', 'freekicks_taken',
       'minutes_played', 'assists', 'distance_covered', 'dribbles'],
      dtype='object')