In [11]:
import numpy as np
import pandas as pd
import seaborn as sns

df_attacking = pd.read_csv("ucl_2122_datasets/attacking.csv")
df_attempts = pd.read_csv("ucl_2122_datasets/attempts.csv")
df_defending = pd.read_csv("ucl_2122_datasets/defending.csv")
df_disciplin = pd.read_csv("ucl_2122_datasets/disciplinary.csv")
df_distributon = pd.read_csv("ucl_2122_datasets/distributon.csv")
df_goals = pd.read_csv("ucl_2122_datasets/goals.csv")
df_keystats = pd.read_csv("ucl_2122_datasets/key_stats.csv")

In [31]:
attacking_forward = df_attacking[df_attacking["position"] == "Forward"]
attempts_forward = df_attempts[df_attempts["position"] == "Forward"]
defending_forward = df_defending[df_defending["position"] == "Forward"]
disciplin_forward = df_disciplin[df_disciplin["position"] == "Forward"]
distributon_forward = df_distributon[df_distributon["position"] == "Forward"]
goals_forward = df_goals[df_goals["position"] == "Forward"]
keystats_forward = df_keystats[df_keystats["position"] == "Forward"]

In [48]:
attacking_forward.head()
#mac basina asist
#en cok korner kullanan forvet
#en cok ofsayta dusen
#en cok dribbleing yapan

,serial,player_name,club,position,assists,corner_taken,offsides,dribbles,match_played
1,2,Vinícius Júnior,Real Madrid,Forward,6,3,4,83,13
3,4,Antony,Ajax,Forward,5,3,4,28,7
8,5,Mbappé,Paris,Forward,4,4,8,43,8
9,5,Gerard Moreno,Villarreal,Forward,4,0,3,9,7
13,12,Müller,Bayern,Forward,3,10,8,2,10

In [50]:
attempts_forward.head()
#targetlarin attemptse orani
#mac basina attempts
#gollerle attemptslerin orani

,serial,player_name,club,position,total_attempts,on_target,off_target,blocked,match_played
0,1,Benzema,Real Madrid,Forward,45,23,13,9,12
1,2,Salah,Liverpool,Forward,42,22,11,9,13
4,5,Lewandowski,Bayern,Forward,31,19,8,4,10
5,6,Luis Díaz,Porto,Forward,29,11,7,11,13
6,7,Martínez,Inter,Forward,28,7,10,11,8

In [54]:
defending_forward.head()
#clearence = uzaklastirma
#balls recovery = top calma
#tackles = kayarak mudahele

,serial,player_name,club,position,balls_recoverd,tackles,t_won,t_lost,clearance_attempted,match_played
123,121,Vinícius Júnior,Real Madrid,Forward,29,11,3,8,0,13
153,151,Antony,Ajax,Forward,25,7,3,4,2,7
189,189,Rafa Silva,Benfica,Forward,21,12,6,6,1,9
196,189,João Mário,Porto,Forward,21,1,0,1,6,4
197,198,Griezmann,Atlético,Forward,20,14,6,8,5,9

In [58]:
disciplin_forward.head()
#commited = yapilan
#fouls suffered = alinan

,serial,player_name,club,position,fouls_committed,fouls_suffered,red,yellow,minutes_played,match_played
9,6,Haller,Ajax,Forward,17,11,1,0,668,8
13,12,Luis Díaz,Porto,Forward,16,10,1,0,908,13
21,20,Sterling,Man. City,Forward,14,10,1,0,581,12
25,26,Vinícius Júnior,Real Madrid,Forward,13,24,1,0,1199,13
40,40,Lewandowski,Bayern,Forward,11,13,1,0,876,10

In [62]:
distributon_forward.head()

,serial,player_name,club,position,pass_accuracy,pass_attempted,pass_completed,cross_accuracy,cross_attempted,cross_complted,freekicks_taken,match_played
25,24,Matheus Cunha,Atlético,Forward,93.6,19,17,0,0,0,0,5
34,34,Minamino,Liverpool,Forward,93.0,76,69,0,1,0,1,4
71,71,Correa,Inter,Forward,90.8,27,24,0,1,0,0,5
84,80,Jović,Real Madrid,Forward,90.3,40,36,0,0,0,0,3
101,95,Reinier,Dortmund,Forward,90.0,71,64,0,1,0,0,3

In [68]:
goals_forward.head()

,serial,player_name,club,position,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,match_played
0,1,Benzema,Real Madrid,Forward,15,11,1,3,0,13,2,3,12
1,2,Lewandowski,Bayern,Forward,13,8,3,1,1,13,0,3,10
2,3,Haller,Ajax,Forward,11,3,4,3,1,11,0,1,8
3,4,Salah,Liverpool,Forward,8,0,8,0,0,7,1,1,13
6,7,Mbappé,Paris,Forward,6,6,0,0,0,6,0,0,8

In [70]:
keystats_forward.head()

,player_name,club,position,minutes_played,match_played,goals,assists,distance_covered
1,Vinícius Júnior,Real Madrid,Forward,1199,13,4,6,133.0
2,Benzema,Real Madrid,Forward,1106,12,15,1,121.5
12,Rodrygo,Real Madrid,Forward,505,11,5,2,65.7
15,Asensio,Real Madrid,Forward,207,8,1,2,28.4
16,Jović,Real Madrid,Forward,113,3,0,0,12.9